*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  color: white;
  background: black;
  font-size: 62.5%;
}

.locked {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 4em;
  width: 100%;
  z-index: 4;
  transition: 0.2s background-color;
}
.navbar--dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar__logo {
  text-transform: uppercase;
  font-size: 2.6rem;
}
.navbar .menu {
  display: flex;
  gap: 3em;
  z-index: 5;
}
.navbar .menu__link {
  font-size: 1.8rem;
}
.navbar .burger-btn {
  display: none;
  font-size: 2.8rem;
  padding: 0.5em;
  cursor: pointer;
  z-index: 2;
}

.hero {
  height: 100vh;
  width: 100%;
}
.hero #hero__video {
  position: fixed;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4em;
  z-index: 2;
  padding: 0 2em;
}
.hero__content-title {
  font-size: 4.8rem;
}
.hero__content-description {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 100;
}
.hero__content .buttons-box {
  margin-top: 1em;
  display: flex;
  gap: 0.2em;
}
.hero__content .buttons-box__button {
  background: transparent;
  border: 1px solid white;
  padding: 1em 3.5em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s background-color;
  font-size: 1.2rem;
  font-weight: 300;
}
.hero__content .buttons-box__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.hero__content .buttons-box__button--gray {
  background-color: rgba(255, 255, 255, 0.2);
}
.hero__content .buttons-box__button--gray:hover {
  background-color: transparent;
}

.hero-image {
  background: url("../assets/heroImg.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  z-index: 0;
}
.hero-image__shadow {
  background-color: black;
  opacity: 0.35;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-image__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.hero-image__content__title {
  text-transform: uppercase;
  font-size: 3.2rem;
}
.hero-image__content__description {
  font-size: 2rem;
  font-weight: 300;
}

.pricing-cards {
  width: 100%;
  max-width: 1400px;
  padding: 4em 5em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
}
.pricing-cards .card {
  padding: 5em 7em;
  border: 2px solid white;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  outline: 0;
}
.pricing-cards .card__underline {
  height: 2px;
  width: 20%;
  display: block;
  margin: 1.8em auto;
  border-radius: 2px;
  background: white;
}
.pricing-cards .card__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.pricing-cards .card__price {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.pricing-cards .card .list {
  margin: 1.8em;
}
.pricing-cards .card .list__point {
  list-style-type: none;
  text-align: center;
  font-size: 1.4rem;
}
.pricing-cards .card__button-redirect {
  text-transform: uppercase;
  padding: 1.5em 3em;
  border: 1px solid white;
  margin-top: 1.8em;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1px;
  outline: 0;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}
.pricing-cards .card__button-redirect:hover {
  color: black;
}
.pricing-cards .card__button-redirect:hover::after {
  bottom: 0;
}
.pricing-cards .card__button-redirect::after {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.3s bottom;
  z-index: -1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  gap: 4em;
  padding-bottom: 3em;
}
main .training-content {
  width: 25%;
  text-align: end;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .training-content__title {
  font-size: 2.6rem;
  margin-bottom: 0.2em;
}
main .training-content__description {
  font-size: 1.4rem;
  font-weight: 300;
}
main .training-content__button {
  text-transform: uppercase;
  padding: 1.75em 4em;
  border: 1px solid white;
  margin-top: 1.8em;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1px;
  outline: 0;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  align-self: flex-end;
}
main .training-content__button:hover {
  color: black;
}
main .training-content__button:hover::after {
  bottom: 0;
}
main .training-content__button::after {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.3s bottom;
  z-index: -1;
}
main .image-container {
  padding: 7em 0;
  position: relative;
}
main .image-container .training__image {
  height: 20em;
  border: 1px solid rgb(33, 33, 33);
}
main .image-container .training__image--pod {
  position: relative;
  top: -30px;
  right: 10%;
  z-index: -1;
}

.contact-form {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 3em 4em;
}
.contact-form form {
  width: 400px;
}
.contact-form form button {
  text-transform: uppercase;
  padding: 1.5em 4em;
  border: 1px solid white;
  background: transparent;
  color: white;
  margin-top: 1.8em;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1px;
  outline: 0;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
  display: block;
  margin-left: auto;
}
.contact-form form button:hover {
  color: black;
}
.contact-form form button:hover::after {
  bottom: 0;
}
.contact-form form button::after {
  position: absolute;
  content: "";
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.3s bottom;
  z-index: -1;
}
.contact-form form label {
  display: flex;
  flex-direction: column;
}
.contact-form form label span {
  margin: 0.5em 0;
  font-size: 1.8rem;
  font-weight: 300;
}
.contact-form form label input {
  padding: 1em 2em;
  border-radius: 5px;
}
.contact-form form label input, .contact-form form label textarea {
  background: rgb(43, 43, 43);
  width: 100%;
  border: 1px solid transparent;
  outline: 0;
  color: white;
}
.contact-form form label textarea {
  padding: 1em 2em;
  max-width: 400px;
  min-width: 400px;
  max-height: 600px;
  min-height: 100px;
  border-radius: 5px;
}

.footer {
  position: relative;
  width: 100%;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1400px;
}
.footer-container--right, .footer-container--left {
  width: 50%;
  height: 100%;
  padding: 4em;
  margin: auto;
}
.footer-container--right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  align-items: start;
  justify-content: center;
  font-size: 1.8rem;
  margin: auto;
}
.footer-container--right__title {
  font-size: 2.4rem;
}
.footer-container--right__description {
  font-size: 1.1rem;
  font-weight: 200;
}
.footer-container--left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.footer-container--left .location,
.footer-container--left .phone,
.footer-container--left .email {
  display: flex;
  justify-content: start;
  width: 100%;
}
.footer-container--left .location h4,
.footer-container--left .phone h4,
.footer-container--left .email h4 {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer-container--left .location {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}
.footer-container--left .location__addresses {
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
  .contact-form form {
    width: 100%;
    margin: auto;
  }
  .contact-form form label textarea {
    max-width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar {
    z-index: 3;
  }
  .navbar .menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.99);
    transition: transform 0.3s;
    z-index: 2;
  }
  .navbar .menu.active {
    transform: translateX(100%);
  }
  .navbar .burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-container--right,
  .footer-container--left {
    padding: 2em;
  }
  main .training-content {
    width: 40%;
  }
}
@media (max-width: 375px) {
  .navbar {
    padding: 1rem 3rem;
  }
}
@media (max-width: 400px) {
  .card.aos-init.aos-animate {
    padding: 3em 3em;
  }
}
@media (max-width: 325px) {
  .hero__content-title {
    font-size: 3.8rem;
  }
  .hero__content-description {
    font-size: 1.8rem;
  }
  .hero__content .buttons-box {
    gap: 0.3em;
  }
  .hero__content .buttons-box__button {
    padding: 0.75em 1.5em;
  }
}
@media (max-width: 600px) {
  main {
    flex-direction: column-reverse;
  }
  main .training-content {
    width: 300px;
    text-align: center;
  }
  main .training-content__button {
    align-self: center;
  }
  main .image-container {
    margin-top: 6em;
    padding: 0;
  }
  .footer-container {
    flex-direction: column;
    gap: 5em;
    padding: 5em 7em;
  }
  .footer-container--right, .footer-container--left {
    padding: 0;
    width: 100%;
  }
  .footer-container--right {
    gap: 0;
  }
  .footer-container--right__title {
    margin-bottom: 0.4em;
  }
}
@media (max-width: 425px) {
  .navbar {
    padding: 1em 2em;
  }
}
@media (min-width: 768px) {
  .hero-image {
    height: 50vh;
  }
}/*# sourceMappingURL=style.css.map */